{% extends 'layout.html' %}

{% block title %}Form{% endblock %}

{% block content %}
<h2>Azure VM Creation </h2>

<p>Hello {{ username }}! <br>
    This is the standard Form for Azure Virtual Machine Creation
</p>

<form action="{{ url_for('form') }}" method="post" autocomplete="off">
  <div class="mb-3">
    <fieldset class="row mb-3">
      <legend>Basics</legend>
      <label for="Resource group" class="form-label">Resource group</label>
      <input type="text" class="form-control" id="resource_group" name="resource_group" placeholder="Name" required>
    <div class="mb-3">
      <label for=" vm_name" class="form-label"> Virtual machine</label>
      <input type="text" class="form-control" id="vm_name" name="vm_name" placeholder="Name" required>
    </div>
    <div class="mb-3 form-check"> 

      <select class="form-select" name="OSImage" id="OSImage">
        <option selected>Choose OSImage </option>
        <option value="Debian-11;Debian;11-backports-gen2">Debian11</option>
        <option value="0001-com-ubuntu-server-jammy;Canonical;22_04-lts-gen2">Ubuntu2204</option>
        <option value="WindowsServer;MicrosoftWindowsServer;2022-Datacenter">Win2022Datacenter</option>
        <option value="WindowsServer;MicrosoftWindowsServer;2022-datacenter-azure-edition-core">Win2022AzureEditionCore</option>
        <option value="WindowsServer;MicrosoftWindowsServer;2019-Datacenter">Win2019Datacenter</option>
        <option value="WindowsServer;MicrosoftWindowsServer;2016-Datacenter">Win2016Datacenter</option>
        <option value="WindowsServer;MicrosoftWindowsServer;2012-Datacenter ">Win2012Datacenter</option>
      </select>
    </div>
    </fieldset>
    <br>
    <fieldset class="row mb-3">
      <legend>Adminstrator account</legend>
      <div class="mb-3">
        <label for="Username" class="form-label">Username</label>
        <input type="text" class="form-control" id="admin_username" name="admin_username" placeholder="LocalAdmin" required>
      </div>
      <div class="mb-3">
        <label for="admin_password" class="form-label">Password</label>
        <input type="password" class="form-control" id="admin_password" name="admin_password" placeholder="RDM recommended"required>
      </div>
      <div class="mb-3">
        <label for="admin_password" class="form-label">Confirm password</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="RDM recommended"required>
      </div>
    </fieldset>
    <br>
    <fieldset class="row mb-3">
      <legend>Disk and Networking</legend>
      <div class="mb-3 form-check"> 
        <label for="disk_size" class="form-label">Choose Disk Size</label>
        <select class="disk size" name="disk_size" id="disk_size">
            <option selected>Choose Disk size </option>
            <option value="256">default 256 GiB (P15)</option>
            <option value="30">30 GiB</option>
            <option value="33">32 GiB (P4)</option>
            <option value="64">64 GiB (P6)</option>
            <option value="128">128 GiB (P10)</option>
            <option value="512">512 GiB (P20)</option>
          </select>
      </div>
      <div class="mb-3">
        <label for="virtual_network" class="form-label">Virtual Network</label>
        <input type="text" class="form-control" id="virtual_network" name="virtual_network" placeholder="Name" required>
      </div>
      <div class="mb-3">
        <label for="subnet" class="form-label">Subnet</label>
        <input type="text" class="form-control" id="subnet" name="subnet" placeholder="Name" required>
      </div>
    </fieldset>
    <br>
    <div class="msg">{{ msg }}</div>
    <button type="submit" value="form" class="btn btn-primary">Submit</button>     
  </div>
</form>
{% endblock %}
