{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Welcome {{ user.get("name") }}!</h2>

<!-- Display a remote image for now -->
<img src="https://github.com/Azure-Samples/ms-identity-python-webapp-django/raw/main/static/topology.png" alt="Topology">

<ul>
    {% if config.get("ENDPOINT") %}
        <li><a href='/api/list-resource-groups'>Call Resource List API</a></li>
    {% endif %}
    
    {% if config.get("ENDPOINT") %}
        <li><a href='/call_downstream_api'>Call Read API</a></li>
    {% endif %}

    {% if edit_profile_url %}
        <li><a href='{{ edit_profile_url }}'>Edit Profile</a></li>
    {% endif %}

    <li><a href="{{ url_for('logout') }}">Logout</a></li>
</ul>

<hr>
<footer style="text-align: right">{{ title }}</footer>
{% endblock %}
