<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body class="loggedin">
    <nav class="navtop">
        <div>
            <h1>Afsluttende projekt 2025</h1>
            <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
            <a href="{{ url_for('show_vm_form') }}"><i class="fas fa-cloud"></i> VM Form</a>
            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
            <a href="{{ url_for('list_resource_groups') }}"><i class="fas fa-list"></i>List Resource Groups</a>
            <a href="{{ url_for('call_downstream_api') }}"><i class="fas fa-cloud"></i>Call Downstream API</a>



        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>